In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('test_2v.csv')
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,36306,Male,80.0,0,0,Yes,Private,Urban,83.84,21.1,formerly smoked
1,61829,Female,74.0,0,1,Yes,Self-employed,Rural,179.50,26.0,formerly smoked
2,14152,Female,14.0,0,0,No,children,Rural,95.16,21.2,NaN
3,12997,Male,28.0,0,0,No,Private,Urban,94.76,23.4,NaN
4,40801,Female,63.0,0,0,Yes,Govt_job,Rural,83.57,27.6,never smoked

In [3]:
df.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi
count,18601.000000,18601.000000,18601.000000,18601.000000,18601.000000,18010.000000
mean,36747.368045,42.056504,0.093167,0.048062,104.386359,28.545325
std,21053.151124,22.528018,0.290674,0.213903,42.606714,7.757092
min,2.000000,0.080000,0.000000,0.000000,55.000000,10.200000
25%,18542.000000,24.000000,0.000000,0.000000,77.550000,23.300000
50%,36717.000000,43.000000,0.000000,0.000000,91.830000,27.700000
75%,55114.000000,60.000000,0.000000,0.000000,112.310000,32.800000
max,72942.000000,82.000000,1.000000,1.000000,275.720000,88.300000

In [4]:
df.bmi.fillna(df.bmi.mean(), inplace=True)
df.bmi.unique()

array([21.1       , 26.        , 21.2       , 23.4       , 27.6       ,
       32.2       , 25.1       , 32.5       , 28.        , 25.7       ,
       21.9       , 19.4       , 26.7       , 32.3       , 24.2       ,
       24.5       , 40.        , 22.1       , 22.3       , 36.1       ,
       33.3       , 36.3       , 22.2       , 20.5       , 36.5       ,
       33.1       , 26.9       , 40.6       , 27.7       , 22.4       ,
       35.1       , 25.5       , 28.4       , 18.7       , 20.9       ,
       33.5       , 44.7       , 33.7       , 25.3       , 27.8       ,
       24.8       , 21.6       , 20.3       , 37.6       , 21.5       ,
       23.1       , 26.3       , 29.2       , 42.9       , 30.9       ,
       32.6       , 31.4       , 19.1       , 39.9       , 21.7       ,
       29.1       , 29.6       , 33.6       , 37.2       , 24.9       ,
       28.54532482, 21.4       , 31.9       , 24.1       , 37.5       ,
       43.        , 32.9       , 19.2       , 45.4       , 26.2       ,
       28.3       , 33.8       , 28.6       , 17.        , 20.        ,
       27.5       , 43.5       , 25.9       , 35.9       , 18.2       ,
       26.8       , 42.6       , 29.        , 37.8       , 26.4       ,
       29.4       , 16.6       , 23.7       , 30.8       , 19.5       ,
       17.8       , 25.        , 30.        , 22.7       , 20.1       ,
       31.        , 26.1       , 18.4       , 12.8       , 31.8       ,
       35.        , 29.9       , 23.8       , 23.3       , 25.4       ,
       31.7       , 38.5       , 31.1       , 32.4       , 27.3       ,
       30.3       , 15.1       , 29.3       , 29.5       , 42.4       ,
       38.2       , 32.8       , 37.4       , 18.        , 22.5       ,
       24.3       , 17.5       , 25.6       , 18.5       , 31.2       ,
       36.2       , 35.2       , 37.3       , 31.6       , 23.6       ,
       24.        , 24.4       , 36.9       , 20.8       , 41.9       ,
       34.3       , 34.7       , 27.9       , 39.4       , 25.2       ,
       53.7       , 23.5       , 48.7       , 37.        , 19.7       ,
       43.7       , 34.8       , 32.        , 42.2       , 22.        ,
       43.9       , 39.5       , 30.4       , 33.2       , 50.5       ,
       20.6       , 42.7       , 28.7       , 44.2       , 39.8       ,
       36.4       , 29.8       , 34.1       , 27.4       , 41.1       ,
       23.2       , 15.8       , 33.9       , 35.6       , 30.5       ,
       22.9       , 40.7       , 43.2       , 34.2       , 38.9       ,
       12.7       , 35.3       , 30.7       , 26.5       , 28.8       ,
       36.7       , 54.5       , 31.5       , 55.6       , 18.6       ,
       30.6       , 37.9       , 39.6       , 30.2       , 24.7       ,
       28.2       , 33.        , 38.8       , 24.6       , 20.2       ,
       41.7       , 29.7       , 23.9       , 41.3       , 41.5       ,
       34.        , 28.5       , 20.4       , 51.4       , 18.1       ,
       40.3       , 59.        , 27.2       , 39.1       , 36.8       ,
       45.8       , 32.7       , 30.1       , 15.7       , 42.        ,
       12.        , 35.5       , 38.6       , 14.9       , 27.        ,
       31.3       , 38.3       , 15.3       , 41.8       , 16.1       ,
       45.1       , 28.1       , 22.6       , 26.6       , 46.9       ,
       19.6       , 16.5       , 14.3       , 27.1       , 47.        ,
       16.8       , 25.8       , 37.1       , 21.3       , 12.2       ,
       14.2       , 16.3       , 28.9       , 15.4       , 21.8       ,
       38.7       , 34.9       , 43.8       , 35.4       , 35.7       ,
       34.5       , 19.        , 22.8       , 19.8       , 13.8       ,
       17.7       , 20.7       , 17.2       , 18.3       , 23.        ,
       17.6       , 16.        , 36.6       , 44.3       , 44.4       ,
       17.1       , 17.4       , 14.5       , 19.9       , 52.6       ,
       69.9       , 43.6       , 48.3       , 21.        , 15.        ,
       50.9       , 15.9       , 33.4       , 43.3       , 48.8       ,
       13.1       , 34.4       , 39.7       , 19.3       , 18.8       ,
       32.1       , 39.3       , 35.8       , 42.5       , 17.3       ,
       16.2       , 46.1       , 18.9       , 42.1       , 61.4       ,
       41.        , 46.        , 49.3       , 56.3       , 46.4       ,
       15.6       , 17.9       , 45.        , 39.2       , 52.4       ,
       14.8       , 54.6       , 49.        , 40.2       , 48.5       ,
       37.7       , 58.7       , 41.4       , 56.7       , 41.2       ,
       50.6       , 47.9       , 44.1       , 48.4       , 50.1       ,
       49.9       , 44.9       , 51.6       , 40.4       , 34.6       ,
       38.4       , 43.4       , 42.8       , 62.8       , 55.8       ,
       39.        , 47.8       , 47.6       , 48.6       , 44.        ,
       46.2       , 13.        , 36.        , 51.8       , 16.4       ,
       40.9       , 65.3       , 45.5       , 51.9       , 38.1       ,
       53.5       , 15.5       , 16.7       , 38.        , 12.4       ,
       45.7       , 50.3       , 45.9       , 55.9       , 13.7       ,
       46.6       , 14.1       , 40.1       , 46.7       , 55.3       ,
       13.4       , 40.8       , 49.6       , 45.2       , 47.7       ,
       42.3       , 40.5       , 52.1       , 43.1       , 44.6       ,
       44.8       , 44.5       , 16.9       , 51.2       , 60.8       ,
       52.9       , 51.1       , 12.1       , 14.6       , 13.3       ,
       59.2       , 53.1       , 58.3       , 14.4       , 48.1       ,
       46.8       , 53.        , 46.5       , 13.9       , 14.7       ,
       68.        , 48.9       , 49.1       , 15.2       , 58.8       ,
       48.2       , 69.        , 47.5       , 13.6       , 12.3       ,
       59.9       , 46.3       , 57.3       , 47.4       , 54.        ,
       49.8       , 41.6       , 58.        , 62.1       , 56.2       ,
       54.9       , 68.4       , 54.2       , 12.9       , 49.4       ,
       45.3       , 57.5       , 51.5       , 52.        , 64.1       ,
       49.7       , 57.4       , 48.        , 52.3       , 51.3       ,
       61.7       , 61.8       , 14.        , 62.2       , 60.9       ,
       55.1       , 47.1       , 59.4       , 47.3       , 51.        ,
       72.9       , 49.5       , 53.9       , 66.6       , 50.        ,
       49.2       , 51.7       , 54.3       , 45.6       , 63.8       ,
       50.2       , 60.4       , 13.2       , 55.        , 52.8       ,
       67.9       , 12.5       , 52.7       , 56.9       , 53.2       ,
       50.4       , 70.1       , 69.1       , 47.2       , 53.4       ,
       54.4       , 12.6       , 59.7       , 68.9       , 53.8       ,
       59.8       , 53.6       , 57.1       , 60.6       , 54.1       ,
       67.3       , 57.        , 54.8       , 59.5       , 52.2       ,
       65.5       , 60.3       , 56.1       , 10.9       , 13.5       ,
       55.2       , 88.3       , 59.6       , 10.8       , 50.8       ,
       52.5       , 55.5       , 55.4       , 74.8       , 60.7       ,
       57.7       , 54.7       , 11.8       , 59.1       , 73.1       ,
       11.9       , 10.2       , 66.7       , 62.4       , 60.1       ,
       57.8       ])

In [5]:
df.isnull().sum()

id                      0
gender                  0
age                     0
hypertension            0
heart_disease           0
ever_married            0
work_type               0
Residence_type          0
avg_glucose_level       0
bmi                     0
smoking_status       5751
dtype: int64